name: Pull upstream master to tracking branch
on:
  schedule:
    - cron: '*/30 * * * *' # every 30 minutes
  workflow_dispatch:
jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Merge upstream
        run: |
          git config --global user.name 'niktrop'
          git config --global user.email 'niktrop@users.noreply.github.com'

          # "git checkout master" is unnecessary, already here by default
          git pull --unshallow  # this option is very important, you would get
                                # complains about unrelated histories without it.
                                # (but actions/checkout@v2 can also be instructed
                                # to fetch all git depth right from the start)

          git remote add upstream https://github.com/yiiguxing/TranslationPlugin.git
          git fetch upstream

          git checkout -b tracking origin/tracking
          git rebase upstream/master
          git push origin tracking